
$("#new-contact-modal").modal('hide');
$("#my_property tr:last").after("<tr> <td style=width:50% align=center>  <%=@property.address%></td><td style=width:50%></td></tr>")
//$("#new-contact-modal").attr("style","display:none;")
//alert($("#new-contact-modal").attr("class"))